main {
    min-height: 80vh;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .rating svg {
    color: #f8e825;
  }
  
  .rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  
  .product-title {
    height: 2.5em;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    }
    
  
  table td,
  table th {
    text-align: center;
  }
  
  .review {
    margin-top: 30px;
  }
  
  .review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .review button {
    margin-top: 10px;
  }

/* new code for slide image */
 .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center; 
}

.slice {
    margin-left: auto; 
     margin-right: auto; 
    max-width: 100% 
}





  .navimg {
     
    width: 85px;
    
    
    
}

 .navbr{
  height: 40px;
} 




/* Add product css code */
.prodiv {
  display: flex;
  flex-direction:column; 
  align-items: center;
  width: 90%;
  margin-left: 10%;
  
}

.proh5 {
  margin-top: 8%;
  margin-right: 5%;
  font-style:italic;
  
}

.proform {
  width: 90%; 
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.prodiv2 {
  margin-bottom: 10px;
  flex: 0 0 30%; 
  box-sizing: border-box; 
  padding: 0 10px; 
}

.prolab {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.proinput,
.prosel {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.proinput[type="file"] {
  padding: 10px 0;
}

.probtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40%;
  
  
}

.probtn:hover {
  background-color: #45a049;
}





.foot {
  background-color: rgba(17, 15, 15, 0.658);
  padding: 20px 0px;
  text-align: center;
  display: block;
}

.contact {
  margin-bottom: 20px; 
  display: flex;
  justify-content: center;
}

.contact-icons {
  padding-right: 15%;
}

.acontact {
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}

.mcontact {
  width: 100%;
  height: 150px;
  border: 0;
  margin-top: 10px;
}

.follow-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  padding-left: 15%;

}

.follow-icons a {
  margin: 0 10px;
}
.mcontact + .follow-icons {
  margin-top: 20px;
  
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    justify-content: center;
  }

  .follow-icons {
    flex-direction: column;
    justify-content: center;
  }

  .follow-icons a {
    margin: 5px 0;
  }
}
    
    
.contact-icons, .follow-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;

}
    
    
    

.contact-icons p {
  padding:8px;
  padding-top: 5%;

}

.follow-icons p{
  padding-top: 5%;
}


